.header {
  width: 100%;
  padding: 16px 0;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.712);
  backdrop-filter: blur(10px);
  border-bottom: 4px solid var(--color-primary);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: sticky;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.title {
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* animation: carnival 5s ease infinite; */
  /* background: linear-gradient(
    90deg,
    var(--color-red),
    var(--color-white),
    var(--color-black),
    var(--color-white),
    var(--color-red)
  ); */
  /* background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.subtitle {
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.iconButton {
  background: var(--color-primary);
  border: 3px solid var(--color-black);
  color: var(--color-black);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.iconButton:hover {
  background: var(--color-white);
  transform: scale(1.1) rotate(5deg);
}

.iconButton:active {
  transform: scale(0.95);
}

@media (max-width: 480px) {
  .title {
    font-size: 1.75rem;
  }
}